*
{
    padding: 0;
    margin:0;
}
#search-button{
    height: 3rem;
    width: 3rem;
    cursor: pointer
       
}
.searchButtonDiv img{
    align-content: center;
    
}
h1{
    padding: 2rem;
    background-color: aqua;
    color: red;
}
.modleButtonDiv{
    padding-left: 15rem;
    padding-top: 1rem;
}
.iconic-property-stroke,
.iconic-property-fill {
    fill: #345;
    stroke: #269;
}
header{
    text-align: center;
   background-color: black;
}
main{
    background-color: dimgray;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
input, textarea{    
    -webkit-transition: width 0.2s;
    transition: width 0.04s;
    padding: 0.4rem;
    text-align: center;
}
#search-input{
   transition: all 0.7s ease-in-out;
    border: 0.5rem solid black;
    
}
#search-input:focus{
   transform: scale(1.1);
}
.movieCard {
    width: 50rem;
    height: auto;
    margin: 1rem auto;
    background-color: cornflowerblue;
    color: white;
}

.imageSection {
    float: left;
    width: 12rem;
    height: 17rem;
    margin-right: 1rem;
    overflow: hidden;
}

/*select only the images that are direct descendants of .imageSection*/
.imageSection > img {
    height: 17rem;
    margin-right: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 500px;
  height: 280px;
  z-index: 200;
  top: calc((100% - 280px)/2);
  left: calc((100% - 500px)/2);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
}

/* use these class names to show or hide the overlay and modal window */
.show {
  display: block;
}
.hide {
  display: none;
}
.off {
  transform: translateY(-400%);
}
.on {
  transform: translateY(0);
}

.cancelButton,
.saveButton {
  width: 120px;
  position: absolute;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 0.25rem 2rem;
  font-size: 1rem;
}

.saveButton {
  bottom: 1rem;
  right: 4rem;
}

.cancelButton {
  bottom: 1rem;
  left: 4rem;
}

.modal-header {
  padding: 2px 16px;
  background-color: orange;
  color: white;
  text-align: center;
}

.modal-radio {
  text-align: center;
  margin-top: 4rem;
}
aside{
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-column-gap: 2rem;
    display: grid;
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
}
.movieCard:hover{
   box-shadow: 5px 10px #888888;
   }
.page{
    display: none;
    
}
.active{
    display: block;
}